@model WebApplication1.ViewModels.AddEmployeeViewModel
<html>
<head>
    <link src="~/lib/dist/jquery-ui/themes/base/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/css/RegistrTeachAdmin.css" />
</head>
<body>
    <h2>Регистрация нового сотрудника</h2>
    <center>
        <div class="bo">
            <div class="container">

                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group">
                        <form method="post" asp-controller="Employee" asp-action="AddEmployee" asp-route-position="@ViewBag.position" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="row" style="position: relative;">
                                <div class="form-group ui-widget col-xl-11">
                                    <label asp-for="LastName"></label><br />
                                    <input class="form-control" asp-for="LastName" />
                                    <span asp-validation-for="LastName"></span>
                                </div>
                                <div class="form-group ui-widget col-xl-11">
                                    <label asp-for="Name"></label><br />
                                    <input class="form-control" asp-for="Name" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                                <div class="form-group ui-widget col-xl-11">
                                    <label asp-for="SecondName"></label><br />
                                    <input class="form-control" asp-for="SecondName" />
                                    <span asp-validation-for="SecondName"></span>
                                </div>
                                <div class="form-group ui-widget col-xl-11">
                                    <label asp-for="PhoneNumber"></label><br />
                                    <input class="form-control" asp-for="PhoneNumber" />
                                    <span asp-validation-for="PhoneNumber"></span>
                                </div>
                                <div class="form-group ui-widget col-xl-11">
                                    <label asp-for="AdditionalInformation"></label><br />
                                    <textarea class="form-control" asp-for="AdditionalInformation" rows="5"></textarea>
                                    <span asp-validation-for="AdditionalInformation"></span>
                                </div>

                                <div class="form-group ui-widget col-xl-11">
                                    <label>Предмет</label><br />
                                    <select class="form-control" multiple name="subjects" size="20">
                                        @foreach (var subject in ViewBag.Subjects)
                                        {
                                            <option>@subject.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group ui-widget col-xl-11">
                                    <label>Здесь можно добавить фото</label>
                                    <div class="border border-secondary">
                                        <input type="file" size="60" name="uploadedFile" asp-for="ImageUrl" /><br>
                                    </div>
                                </div>
                            </div>
                            <center>
                                <div class="form-group">
                                    <input type="submit" class="registrB" value="Сохранить" />
                                </div>
                                </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </center>
</body>
</html>