@{ ViewData["Title"] = "Регистрация сотрудника"; }
@model WebApplication1.ViewModels.RegistrateTeacherAdministration
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/RegistrTeachAdmin.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome/css/font-awesome.css" />
</head>
<body>
    <h2>Регистрация нового сотрудника</h2>
    <center>
        <div class="bo">
            <div class="container">

                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group">
                        <form method="post" asp-controller="Employee" asp-action="RegisterTeachersAdministration" asp-route-SchoolId="@ViewBag.SchoolId">
                            <div>
                                <div class="form-group">
                                    <div class="validation" asp-validation-summary="ModelOnly"></div>

                                    <label>Должность</label><br />
                                    <select class="form-control" asp-for="Position">
                                        @foreach (var position in ViewBag.Positions)
                                        {
                                            <option>@position.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserName"></label><br />
                                    <input class="form-control" asp-for="UserName" />
                                    <span asp-validation-for="UserName"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email"></label><br />
                                    <input class="form-control" asp-for="Email" type="email" />
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label><br />
                                    <input class="form-control" asp-for="Password" />
                                    <span asp-validation-for="Password"></span>
                                </div>

                            </div>
                            <center>
                                <div class="form-group">
                                    <input type="submit" class="registrB" value="Зарегистрировать" />
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </center>
</body>
</html>