<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<select hidden>
    @foreach (var cl in ViewBag.SchoolClasses)
    {
        <option>@cl</option>
    }
</select>
<ul class="nav nav-tabs">

    <li class="nav-item">
        <a class="nav-link show active" data-toggle="tab" href="#a" id="A">А</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#b" id="B">Б</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#v" id="V">В</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#g" id="G">Г</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#d" id="D">Д</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#e" id="E">Е</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane fade show active" id="a">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                        <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                        <td style="font-style: oblique">8.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                        <td style="font-style: oblique">8.00</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                        <td style="font-style: oblique">9.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                        <td style="font-style: oblique">9.00</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                        <td style="font-style: oblique">10.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                        <td style="font-style: oblique">10.00</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                        <td style="font-style: oblique">11.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                        <td style="font-style: oblique">11.00</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                        <td style="font-style: oblique">12.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                        <td style="font-style: oblique">12.00</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                        <td style="font-style: oblique">13.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                        <td style="font-style: oblique">13.00</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                        <td style="font-style: oblique">14.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                        <td style="font-style: oblique">14.00</td>
                    </tr>


                    @*вторник пятница*@
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                        <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                        <td style="font-style: oblique">8.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                        <td style="font-style: oblique">8.00</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                        <td style="font-style: oblique">9.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                        <td style="font-style: oblique">9.00</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                        <td style="font-style: oblique">10.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                        <td style="font-style: oblique">10.00</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                        <td style="font-style: oblique">11.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                        <td style="font-style: oblique">11.00</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                        <td style="font-style: oblique">12.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                        <td style="font-style: oblique">12.00</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                        <td style="font-style: oblique">13.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                        <td style="font-style: oblique">13.00</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                        <td style="font-style: oblique">14.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                        <td style="font-style: oblique">14.00</td>
                    </tr>

                    @*среда суббота*@
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                        <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                        <td style="font-style: oblique">8.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                        <td style="font-style: oblique">8.00</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                        <td style="font-style: oblique">9.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                        <td style="font-style: oblique">9.00</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                        <td style="font-style: oblique">10.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                        <td style="font-style: oblique">10.00</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                        <td style="font-style: oblique">11.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                        <td style="font-style: oblique">11.00</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                        <td style="font-style: oblique">12.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                        <td style="font-style: oblique">12.00</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                        <td style="font-style: oblique">13.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                        <td style="font-style: oblique">13.00</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                        <td style="font-style: oblique">14.00</td>
                        <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                        <td style="font-style: oblique">14.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="tab-pane fade" id="b">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>


                @*вторник пятница*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>

                @*среда суббота*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="v">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>


                @*вторник пятница*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>

                @*среда суббота*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="g">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>


                @*вторник пятница*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>

                @*среда суббота*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="d">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>


                @*вторник пятница*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>

                @*среда суббота*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="e">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>


                @*вторник пятница*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>

                @*среда суббота*@
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style:oblique">Понедельник</th>
                    <th scope="col" colspan="2" style="background: #20B2AA; font-style: oblique">Четверг</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Первый урок</td>
                    <td style="font-style: oblique">8.00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Второй урок</td>
                    <td style="font-style: oblique">9.00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Третий урок</td>
                    <td style="font-style: oblique">10.00</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Четвертый урок</td>
                    <td style="font-style: oblique">11.00</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Пятый урок</td>
                    <td style="font-style: oblique">12.00</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Шестой урок</td>
                    <td style="font-style: oblique">13.00</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                    <td style="background: #FFF8DC; color:black" contenteditable="true">Седьмой урок</td>
                    <td style="font-style: oblique">14.00</td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>
<script>
    var arr = new Array();
    let elements = document.querySelectorAll('select > option');
    for (let elem of elements) {
        arr.push(elem.innerHTML);
    }
    if (!arr.includes("А")) {
        document.getElementById("A").hidden = true;
    }
    if (!arr.includes("Б")) {
        document.getElementById("B").hidden = true;
    }
    if (!arr.includes("В")) {
        document.getElementById("V").hidden = true;
    }
    if (!arr.includes("Г")) {
        document.getElementById("G").hidden = true;
    }
    if (!arr.includes("Д")) {
        document.getElementById("D").hidden = true;
    }
    if (!arr.includes("Е")) {
        document.getElementById("E").hidden = true;
    }
</script>