@{ ViewData["Title"] = "Выбор класса"; }
@model WebApplication1.ViewModels.SelectClassViewModel
<link rel="stylesheet" type="text/css" href="~/css/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/css/index.css" />

<style>
    .registrB {
        width: 400px;
        background: #4682B4;
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        border-radius: 5px;
        text-transform: uppercase;
        margin: 20px 0 30px 0;
        text-align: center;
    }

        .registrB:hover {
            background: #696969;
            color: #fff;
            outline: none;
            box-shadow: none;
        }
</style>
<center>
    <h2>Выберите класс, для которого нужно добавить расписание</h2>

    <form method="post" asp-controller="Timetable" asp-action="CreateTimetable">
        <div class="form-group ui-widget col-xl-11">
            <select class="form-control" name="Letters" id="select">
                @foreach (var cl in ViewBag.SchoolClassesLetters)
                {
    <option>@cl</option>
}
            </select>
        </div>
        <button type="submit" class="registrB" style="font-size:20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="1" name="button">
            1
        </button>
        <button type="submit" class="registrB" style="font-size:20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="2" name="button">
            2
        </button>
        <button type="submit" class="registrB" style="font-size:20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="3" name="button">
            3
        </button>
        <button type="submit" class="registrB" style="font-size: 20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="4" name="button">
            4
        </button>
        <button type="submit" class="registrB" style="font-size: 20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="5" name="button">
            5
        </button>
        <button type="submit" class="registrB" style="font-size: 20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="6" name="button">
            6
        </button>
        <button type="submit" class="registrB" style="font-size: 20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="7" name="button">
            7
        </button>
        <button type="submit" class="registrB" style="font-size: 20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="8" name="button">
            8
        </button>
        <button type="submit" class="registrB" style="font-size: 20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="9" name="button">
            9
        </button>
        <button type="submit" class="registrB" style="font-size: 20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="10" name="button">
            10
        </button>
        <button type="submit" class="registrB" style="font-size: 20px;" asp-controller="Timetable" asp-action="CreateTimetable" asp-route-Class="11" name="button">
            11
        </button>

    </form>
</center>

